@tailwind base;
@tailwind components;
@tailwind utilities;



/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.bg-image {
  background: url('C:\Users\Yo Selorm\Desktop\ReactPractice\lormy-news-app\src\assets\newone.jpg') no-repeat center;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: #181818;
  width: 100%;
  height: 60vh;
}